{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Comfortaa:wght@300..700&family=Great+Vibes&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Comfortaa:wght@300..700&family=Great+Vibes&family=Island+Moments&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

    <title>rusballett</title>
</head>

<body>
    <div class="prise">
        <h2>Стоимость наших занятий</h2>
        <div class="prise_group" id="juonior">
            <div class="prise_grops">
                <div class="name_groups">
                    <h5>Младшая группа</h5>
                    <p class="name_group_age">от 3 до 5 лет</p>
                </div>
                <div class="prise_group_block">
                    <div class="prise_grops_row1">
                        <p class="name_block">Одноразовые посещения</p>

                        <div class="session_group">
                            <div class="session">

                                <p class="prise_name_lesson">Пробное занятие</p>
                                <p class="prise_blocks_info">Пробное занятие в нашей школе для вас бесплатно</p>
                                <p class="prise_buy_color">Бесплатно</p>
                            </div>

                            <div class="session">
                                <p class="prise_name_lesson">1 занятие</p>
                                <p class="prise_blocks_info">Занятия проходят в группах. <br> Время занятий для 3-х лет – 40 минут, 4-х лет – 50 минут, 5-ти лет – 60 минут</p>
                                <p class="prise_buy">1200 ₽</p>

                            </div>
                            <div class="session">
                                <p class="prise_name_lesson">Индивидуальное</p>
                                <p class="prise_blocks_info">Индивидуальное занятие вне группы <br> Время одного занятия - 60 минут</p>
                                <p class="prise_buy">3500 ₽</p>

                            </div>

                        </div>
                    </div>

                    <div class="prise_grops_row2">
                        <p class="name_block">Абонементы</p>
                        <div class="session_group">
                            <div class="session">
                                <p class="prise_name_lesson">1 месяц</p>
                                <p class="prise_blocks_info">Занятия в группах по 3-5 человек, проходят 2 раза в неделю <br> Время одного занятия - 60 минут</p>
                                <p class="prise_buy">6000 ₽</p>
                            </div>

                            <div class="session">
                                <p class="prise_name_lesson">6 месяцев</p>
                                <p class="prise_blocks_info">Занятия в группах по 3-5 человек, проходят 2 раза в неделю <br> Время одного занятия - 60 минут</p>
                                <p class="prise_buy">32000 ₽</p>
                            </div>

                            <div class="session">
                                <p class="prise_name_lesson">12 месяцев</p>
                                <p class="prise_blocks_info">Занятия в группах по 3-5 человек, проходят 2 раза в неделю <br> Время одного занятия - 60 минут</p>
                                <p class="prise_buy">65000 ₽</p>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="prise_group" id="middle">
            <div class="prise_grops">
                <div class="name_groups">
                    <h5>Средняя группа</h5>
                    <p class="name_group_age">от 6 до 11 лет</p>
                </div>

                <div class="prise_group_block">
                    <div class="prise_grops_row1">
                        <p class="name_block">Одноразовые посещения</p>

                        <div class="session_group">
                            <div class="session">

                                <p class="prise_name_lesson">Пробное занятие</p>
                                <p class="prise_blocks_info">Пробное занятие в нашей школе для вас бесплатно</p>
                                <p class="prise_buy_color">Бесплатно</p>
                            </div>

                            <div class="session">
                                <p class="prise_name_lesson">1 занятие</p>
                                <p class="prise_blocks_info">Занятия проходят в группах. <br> Время одного занятия - 60 минут</p>
                                <p class="prise_buy">1500 ₽</p>

                            </div>
                            <div class="session">
                                <p class="prise_name_lesson">Индивидуальное</p>
                                <p class="prise_blocks_info">Индивидуальное занятие вне группы <br> Время одного занятия - 60 минут</p>
                                <p class="prise_buy">4000 ₽</p>

                            </div>

                        </div>
                    </div>

                    <div class="prise_grops_row2">
                        <p class="name_block">Абонементы</p>
                        <div class="session_group">
                            <div class="session">
                                <p class="prise_name_lesson">1 месяц</p>
                                <p class="prise_blocks_info">Занятия в группах по 3-5 человек, проходят 2 раза в неделю <br> Время одного занятия - 60 минут</p>
                                <p class="prise_buy">10000 ₽</p>
                            </div>

                            <div class="session">
                                <p class="prise_name_lesson">6 месяцев</p>
                                <p class="prise_blocks_info">Занятия в группах по 3-5 человек, проходят 2 раза в неделю <br> Время одного занятия - 60 минут</p>
                                <p class="prise_buy">50000 ₽</p>
                            </div>

                            <div class="session">
                                <p class="prise_name_lesson">12 месяцев</p>
                                <p class="prise_blocks_info">Занятия в группах по 3-5 человек, проходят 2 раза в неделю <br> Время одного занятия - 60 минут</p>
                                <p class="prise_buy">100000 ₽</p>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="prise_group" id="older">
            <div class="prise_grops">
                <div class="name_groups">
                    <h5>Старшая группа</h5>
                    <p class="name_group_age">от 12 до 15 лет</p>
                </div>
                <div class="prise_group_block">
                    <div class="prise_grops_row1">
                        <p class="name_block">Одноразовые посещения</p>

                        <div class="session_group">
                            <div class="session">

                                <p class="prise_name_lesson">Пробное занятие</p>
                                <p class="prise_blocks_info">Пробное занятие в нашей школе для вас бесплатно</p>
                                <p class="prise_buy_color">Бесплатно</p>
                            </div>

                            <div class="session">
                                <p class="prise_name_lesson">1 занятие</p>
                                <p class="prise_blocks_info">Занятия проходят в группах. <br> Время занятий для 3-х лет – 40 минут, 4-х лет – 50 минут, 5-ти лет – 60 минут</p>
                                <p class="prise_buy">1300 ₽</p>

                            </div>
                            <div class="session">
                                <p class="prise_name_lesson">Индивидуальное</p>
                                <p class="prise_blocks_info">Индивидуальное занятие вне группы <br> Время одного занятия - 60 минут</p>
                                <p class="prise_buy">3200 ₽</p>

                            </div>

                        </div>
                    </div>

                    <div class="prise_grops_row2">
                        <p class="name_block">Абонементы</p>
                        <div class="session_group">
                            <div class="session">
                                <p class="prise_name_lesson">1 месяц</p>
                                <p class="prise_blocks_info">Занятия в группах по 3-5 человек, проходят 2 раза в неделю <br> Время одного занятия - 60 минут</p>
                                <p class="prise_buy">9000 ₽</p>
                            </div>

                            <div class="session">
                                <p class="prise_name_lesson">6 месяцев</p>
                                <p class="prise_blocks_info">Занятия в группах по 3-5 человек, проходят 2 раза в неделю <br> Время одного занятия - 60 минут</p>
                                <p class="prise_buy">50000 ₽</p>
                            </div>

                            <div class="session">
                                <p class="prise_name_lesson">12 месяцев</p>
                                <p class="prise_blocks_info">Занятия в группах по 3-5 человек, проходят 2 раза в неделю <br> Время одного занятия - 60 минут</p>
                                <p class="prise_buy">110000 ₽</p>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="prise_group" id="senior">
            <div class="prise_grops">
                <div class="name_groups">
                    <h5>Взрослая группа</h5>
                    <p class="name_group_age">от 16 до 18 лет</p>
                </div>
                <div class="prise_group_block">
                    <div class="prise_grops_row1">
                        <p class="name_block">Одноразовые посещения</p>

                        <div class="session_group">
                            <div class="session">

                                <p class="prise_name_lesson">Пробное занятие</p>
                                <p class="prise_blocks_info">Пробное занятие в нашей школе для вас бесплатно</p>
                                <p class="prise_buy_color">Бесплатно</p>
                            </div>

                            <div class="session">
                                <p class="prise_name_lesson">1 занятие</p>
                                <p class="prise_blocks_info">Занятия проходят в группах. <br> Время занятий для 3-х лет – 40 минут, 4-х лет – 50 минут, 5-ти лет – 60 минут</p>
                                <p class="prise_buy">1200 ₽</p>

                            </div>
                            <div class="session">
                                <p class="prise_name_lesson">Индивидуальное</p>
                                <p class="prise_blocks_info">Индивидуальное занятие вне группы <br> Время одного занятия - 60 минут</p>
                                <p class="prise_buy">3500 ₽</p>

                            </div>

                        </div>
                    </div>

                    <div class="prise_grops_row2">
                        <p class="name_block">Абонементы</p>
                        <div class="session_group">
                            <div class="session">
                                <p class="prise_name_lesson">1 месяц</p>
                                <p class="prise_blocks_info">Занятия в группах по 3-5 человек, проходят 2 раза в неделю <br> Время одного занятия - 60 минут</p>
                                <p class="prise_buy">6000 ₽</p>
                            </div>

                            <div class="session">
                                <p class="prise_name_lesson">6 месяцев</p>
                                <p class="prise_blocks_info">Занятия в группах по 3-5 человек, проходят 2 раза в неделю <br> Время одного занятия - 60 минут</p>
                                <p class="prise_buy">32000 ₽</p>
                            </div>

                            <div class="session">
                                <p class="prise_name_lesson">12 месяцев</p>
                                <p class="prise_blocks_info">Занятия в группах по 3-5 человек, проходят 2 раза в неделю <br> Время одного занятия - 60 минут</p>
                                <p class="prise_buy">65000 ₽</p>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <div class="record" style="display: none;">
        <h2>Запишитесь</h2>
        <p class="dop_h2">на свое первое занятие</p>
        <div class="record_info">
            <div class="record_name">
                <p>Введите ваши ФИО</p>
                <input type="text" id="fullName" required placeholder="Введите данные">
            </div>
            <div class="record_phone">
                <p>Введите ваш номер телефона</p>
                <input type="tel" id="phone" required placeholder="+7 9__ - __ - __">
            </div>
            <div class="record_age">
                <p>Выберите возрастную группу</p>
                <select class="group" id="groupSelect" name="group_id" onchange="loadSchedule(this.value)">
                <option value="">Загрузка групп...</option>
            </select>
                <div id="scheduleContainer" style="display: none;">
                    <h6 class="date">Выберите дату и время:</h6>
                    <div class="schedule-date-block">
                        <div class="date-header">07 февраля 2026 года</div>

                        <div class="time-slots-container" required>
                            <div class="time-slot">
                                <span class="time">10:00</span>
                                </hr>
                                <span class="seats-info">мест 4 из 5</span>
                            </div>

                        </div>
                    </div>


                </div>
            </div>
            <a href="#" class="header_btn" onclick="submitBooking()" id="submitBtn">Записаться</a>
        </div>
    </div>
    <div class="container">
        <div class="header_navigation">
            <div class="logo">
                <a href="" class="logo">rusballet</a>

            </div>
            <nav class="header_navigation_nav">
                <a href="">Главная</a>
                <a href="#about">О школе</a>
                <a href="#teacher">Педагоги</a>
                <a href="#child">Ученики</a>
                <a href="#contacts">Контакты</a>
            </nav>
            <div class="header_navigation_nav_contacts">
                <div class="header_navigation__phone">
                    <img src="{% static 'icons/phone.svg' %}" alt="">
                    <p>+7 495 123-45-67 </p>
                </div>
                <a href="{% url 'admin_dashboard' %}" style="margin-right: 20px;">
                    <i class="fas fa-user-circle" style="font-size: 24px; "></i>
                </a>
                <a href="https://t.me/rusballet_kpt_bot" class="header_navigation__phone"><img src="{% static 'icons/tg.svg' %}" alt="" class="header_navigation__tg"></a>
            </div>

        </div>
        <header class="header">
            <div class="header_infomation">
                <h1>школа <span class="heading">русского балета</span> </h1>
                <p class="head_text">Прочувствуй атмосферу нашего балета. Первое занятие в школе <span class="dop">бесплатно</span></p>
                <div class="btn_block">
                    <a href="" class="header_btn open-modal-btn">Записаться</a>

                    <a href="" class="header_btn_prise">Узнать стоимость занятий</a>
                </div>





            </div>
            <img src="{% static 'images/header_image.png' %}" alt="image" class="header_img">
        </header>
    </div>
    <div class="about_conteiner" id="about">
        <div class="container">
            <div class="conteiner_display">
                <img src="{% static 'images/about.png' %}" alt="">
                <div class="about_conteiner__information">
                    <h2>Добро пожаловать в <span class="heading">мир балета</span> </h2>
                    <p class="head_text">Меня зовут <span class="dop"> Наталья Кравц</span>, я — художественный руководитель.</p>
                    <p>Занятия в нашей школе ведут артисты балета и профессиональные педагоги, которые любят и знают свое дело. Приглашаю Вас и Вашего ребёнка на <span class="dop">бесплатное пробное занятие</span> , после которого наши педагоги дадут индивидуальные
                        рекомендации.
                    </p>
                </div>
            </div>

        </div>
    </div>
    <div class="advantages_container">
        <div class="container">
            <h2> Почему <span class="heading">russballet?</span></h2>
            <div class="advantages_container__row_1">
                <div class="advantages_container__row_1__elements__1">
                    <h3>Развиваем <span class="heading">уверенность</span> </h3>
                    <p>Это важный навык для жизни,который пригодится Вашему ребенку</p>
                </div>
                <div class="advantages_container__row_1__elements__2">
                    <h3>укрепляем <span class="heading">здоровье</span> </h3>
                    <p>Дети становятся более сильными физически и здоровыми</p>
                </div>
            </div>
            <div class="advantages_container__row_2">
                <div class="advantages_container__row_2__elements__1">
                    <h3>раскрываем <span class="heading">потенциал</span> </h3>
                    <p>Ребёнок учится выражать себя, становится раскрепощенным</p>
                </div>
                <div class="advantages_container__row_2__elements__2">
                    <h3>Развиваем <span class="heading">личные навыки</span> </h3>
                    <p>Это подтверждают отзывы от наших родителей</p>
                </div>
            </div>
        </div>
    </div>
    <div class="register_container">

        <div class="container">
            <div class="register_container__display">

                <div class="register_container__information">
                    <h2>Рады стать частью <span class="heading">вашей истории</span> </h2>
                    <p class="head_text">На <span class="dop"> бесплатном пробном занятии</span>, Вы познакомитесь с профессиональным педагогическим коллективом, которые любят и знают свое дело, а так же получите индивидуальные рекомендации.</p>
                    <a href="" class="header_btn open-modal-btn">Записаться</a>
                </div>
                <img src="{% static 'images/register.png' %}" alt="">
            </div>

        </div>
    </div>


    <div class="teacher_container" id="teacher">
        <div class="container">
            <div class="slider-header">
                <h2>наши <span class="heading">педагоги</span></h2>
            </div>

            <div class="slider-wrapper">
                <img class="slider-btn prev-btn" src="{% static 'icons/akar-icons_chevron-left.svg' %}">

                <div class="slide-content">
                    <div class="teacher-photo">
                        <img id="teacher-photo" src="{% static 'images/teacher_slide.png' %}" alt="Фото преподавателя">
                    </div>
                    <div class="display_block">
                        <div class="teacher-info">
                            <h3 id="teacher-name" class="heading">Полина Некрасова</h3>
                            <p id="teacher-education">Выпускница МГАХ как артист балета (педагог Сырова И.Ю.), а также как педагог-хореограф. Артистка Большого Театра России</p>
                        </div>

                        <div class="teacher-stats">
                            <div class="stat-item">
                                <h4 id="teacher-experience-count">15</h4>
                                <p id="teacher-experience-text">лет опыта преподавания</p>
                            </div>
                            <div class="stat-item">
                                <h4 id="teacher-awards-count">05</h4>
                                <p id="teacher-awards-text">профессиональных наград</p>
                            </div>
                        </div>

                        <div class="achievements">
                            <h4 id="teacher-achievements-count">18</h4>
                            <p id="teacher-achievements-text">учеников призеров</p>
                        </div>
                    </div>
                </div>

                <img class="slider-btn next-btn" src="{% static 'icons/akar-icons_chevron-right.svg' %}">
                <div class="slider-dots"></div>
            </div>
        </div>
    </div>
    <div class="child_container" id="child">
        <div class="container">
            <h2>наши <span class="heading">ученики</span></h2>
            <div class="child_container_row_1">
                <img src="{% static 'images/portfolio_1.png' %}" alt="">
                <img src="{% static 'images/portfolio_2.png' %}" alt="">
            </div>
            <div class="child_container_row_2">
                <img src="{% static 'images/portfolio_3.png' %}" alt="">
                <img src="{% static 'images/portfolio_4.png' %}" alt="">
            </div>


        </div>
    </div>
    <div class="contacts_container" id="contacts">
        <div class="container">
            <div class="contacts_container_display">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2246.731564418941!2d37.57824367732446!3d55.72841707307524!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54b9f458b1823%3A0xcdeea94ee3778c0d!2z0JrQvtC80YHQvtC80L7Qu9GM0YHQutC40Lkg0L_RgC4sIDI00YExLCDQnNC-0YHQutCy0LAsIDExOTAzNA!5e0!3m2!1sru!2sru!4v1769168831045!5m2!1sru!2sru"
                    height="450" style="width: 100%; border:0; display: block;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
                </iframe>

                <div class="contacts_container__infomation">
                    <h2>наши <span class="heading">контакты</span></h2>
                    <div class="phone">
                        <p class="name_contacts">телефон</p>
                        <p class="data_contacts">+7 495 123-45-67</p>
                    </div>
                    <div class="address">
                        <p class="name_contacts">Адрес</p>
                        <p class="data_contacts">Москва, Комсомольский пр., 24ст1</p>
                    </div>
                    <div class="mode">
                        <p class="name_contacts">Режим работы</p>
                        <p class="data_contacts">9<span class="degree">00</span> - 20<span class="degree">00</span> Пн-Вс</p>
                    </div>
                    <div class="email">
                        <p class="name_contacts">Почта</p>
                        <p class="data_contacts">rusballet@bal.ru</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="footer">
        <div class="container">
            <div class="footer_contaiter">
                <div class="politics">
                    <a>Политика конфиденциальности</a>
                    <div class="development">
                        <a>Разработка сайта <span class="num_num">ням ням</span> </a>
                    </div>
                </div>
                <div class="footer_nav_1">
                    <a href="">Главная</a>
                    <a href="#about">О школе</a>
                    <a href="#teacher">Педагоги</a>
                </div>
                <div class="footer_nav_2">
                    <a href="#child">Наши ученики</a>
                    <a href="#contacts">Контакты</a>
                </div>
                <div class="footer_contacts_1">
                    <a href="">+7 495 123-45-67 </a>
                    <a href="">rusballet@bal.ru</a>
                </div>
                <div class="footer_contacts_2">
                    <a href="">Москва, Комсомольский пр., 24ст1</a>
                    <a href="">9<span class="footer_super">00</span> -20 <span class="footer_super">00</span>  Пн-Вс </a>
                </div>
            </div>

        </div>
    </div>
    <script src="{% static 'js/modal_window.js' %}"></script>
    <script src="{% static 'js/slide_bar.js' %}"></script>


</body>

</html>